<!-- <div class="header-container">
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    rel="stylesheet"
  />
  <h1>Signature Generator!</h1>

  <span class="material-symbols-outlined"> home </span>
  <span class="material-symbols-outlined"> light_mode </span>
  <span class="material-symbols-outlined"> dark_mode </span>
  <span class="material-symbols-outlined"> login </span>
  <span class="material-symbols-outlined"> logout </span>

  <!-- <i class="fa-solid fa-user"></i> -->
<!-- </div> -->
-->
