.popover {
  width: 30px;
}

.colors {
  display: flex;
  border-radius: 15px;
  flex-wrap: wrap;
}

.color {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.color:hover {
  border: 2px solid #000;
}
