.container {
  display: grid;
  margin: 30px;
}

.label {
  font-size: xx-large;
  background-color: red;
}

.special-input {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  width: 800px;
  margin-bottom: 16px;
  margin-top: 0px;
  padding-top: 0px;
  height: 42px;
}
